<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/responsiveslides.css' %}">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>


	<!---start-header--->
			<div class="header">
			<!---start-top-header--->
			<div class="top-header">

				<div class="clear"> </div>
			</div>
			<div class="clear"> </div>
			<div class="sub-header">
				<div class="logo">
					<a href="/"><img src="{% static 'images/logo.png' %}" title="logo" /></a>
				</div>
				<div class="sub-header-center">
					<form>
						<input type="text"><input type="submit"  value="search" />
					</form>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="clear"> </div>
			<div class="top-nav">
				<ul>
					<li class="active1"><a href="/">Home</a></li>

                    {% if user.is_authenticated %}

                    <li><a href="logout">Logout</a></li>
                    <li><a href="{% url 'cartapp:cartlist' %}">show Cart</a></li>
					<li>Hello {{user.first_name}} welcome to this website!</li>
                    {% else %}
                    <li><a href="register">Register</a></li>
					<li><a href="login">Login</a></li>
                    <li><a href="admin/">AdminLogin</a></li>
                    {% endif %}
					<div class="clear"> </div>
				</ul>
			</div>
			<!---end-top-header--->
			<!---End-header--->
			</div>
</body>
</html>