<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{%load static %}
{% static 'images' as baseurl %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>OnlinemusicalStore</title>
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/responsiveslides.css' %}">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="{% static 'js/responsiveslides.min.js' %}"></script>
		  <script>
		     "$(window).load(function() {"
			    $(function () {
			
			    
			      $("#slider1").responsiveSlides({
			        maxwidth: 1600,
			        speed: 600
			      });
			});
		  </script>
	</head>
	<body>

		<!---start-wrap--->
		<div class="wrap">
          {% include 'header.html' %}
			{% if totalbill > 0 %}
			<div>
				<h2 style="color:red">Order Placed successfully! Your Total Bill is:-{{totalbill}}</h2>
			</div>
			{% endif %}
				<div>
                    {% for m in messages %}
					<h2 style="color:red">{{m}}</h2>
					{% endfor %}
				</div>
			
				<!--start-image-slider---->
					<div class="image-slider">
						<!-- Slideshow 1 -->
					    <ul class="rslides" id="slider1">
					      <li><img src="{% static 'images/slider1.jpg' %}" alt=""></li>
					      <li><img src="{% static 'images/slider6.jpg' %}" alt=""></li>
					      <li><img src="{% static 'images/slider2.jpg' %}" alt=""></li>
					    </ul>
						 <!-- Slideshow 2 -->
					</div>
					<!--End-image-slider---->
				<div class="content">
					<div class="products-box">
					<div class="products">
						<h5><span>FEATURED</span> PRODUCTS</h5>
						<div class="section group">
							{% for i in it %}
							  <div class="grid_1_of_5 images_1_of_5">
								 <img src="{{i.img.url}}" height="210", width="210">
								 <h3>{{i.name}}</h3>
								 <p>{{i.desc}}</p>
								 <h4>{{i.price}}</h4>
								{% if user.is_authenticated %}
							     <div class="button"><span><a href="{% url 'cartapp:addtocart' i.id %}">AddToCart</a></span></div>
								{% endif %}
						      </div>
							{% endfor %}

						<div class="clear"> </div>
					</div>
						<div class="clear"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="clear"> </div>
        {% include 'footer.html' %}
		</div>
		<!---End-wrap--->
	</body>
</html>

